@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
:root{
    --green:#3FAF38;
    --orange:#E7810B;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1664px;
    width: 100%;
    padding-left: 12px;
    padding-right: 12px;
    margin-left: auto;
    margin-right: auto;
}

/* header */

/* header */